/*================================ 
    #RESPONSIVE CSS 
====================================*/

/* Large Device: 1200px. */
@media only screen and (min-width: 991px) and (max-width: 1200px){
	
	
}

/* Tablet Layout: 768px.*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	
	
	/*	Grid*/
	
	.grid-2 {
		grid-template-columns: 1fr;
	}
	
	.grid-3 {
		grid-template-columns: repeat(2,1fr);
	}
	
	.grid-4 {
		grid-template-columns: repeat(2,1fr);
	}
	
	
}

@media only screen and (max-width: 680px) {
	
}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
	
	
	/*	grids*/
	
	.grid-2 {
		grid-template-columns: 1fr;
	}
	
	.grid-3 {
		grid-template-columns: 1fr;
	}
	
	
}

/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

@media only screen and (max-width: 576px) {

	.team-wrapper {
		grid-template-columns: 1fr;
	}
	
	
	/*	Subscribe*/
	
	.fun-facts-wrp.grid-4 {
		grid-template-columns: 1fr;
	}
	
	/*	Review*/
	
	.what-in-wrapper.grid-4 {
		grid-template-columns: 1fr;
	}


}

























